@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", system-ui;
}

span {
  display: block;
}

:is(#about, #contact) img {
  max-width: 100%;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --section-padding: 60px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 10px;
}

.sidebar-item {
  width: 100%;
  text-align: left;
  display: block;
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #000;
}

.sidebar-item:hover {
  background-color: #ddd;
  color: #fff;
}

.sidebar-submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-subitem {
  padding: 8px 16px;
  cursor: pointer;
}

.sidebar-subitem:hover {
  background-color: #eee;
}

header ul a {
  transition: all 300ms ease;
}

header ul a:hover {
  opacity: 0.7;
}

header .active::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-color: #111;
  width: 70%;
  height: 3px;
  border-radius: 10px;
}

header .mobileWrapper .active::before {
  display: none;
}

header .mobileWrapper .active {
  font-weight: bold;
  color: #888;
}

.heading::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: #000;
  margin-left: 5px;
}

section:not(#shadow-host-companion) {
  padding-block: var(--section-padding);
}

/* Style the scroll bar for all webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background for the track */
}

/* Scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker gray for the handle */
  border-radius: 10px; /* Rounded corners for the handle */
  border: 2px solid transparent; /* Optional border to add spacing around the thumb */
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Sets color of thumb and track */
}

:where(input, label, span) {
  display: inline-block;
}

.custom-table th {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  color: #000;
  border-bottom: 1px solid #99999934;
  padding-bottom: 10px;
}

.custom-table tr {
  padding-block: 30px;
  border-bottom: 1px solid black;
}

table td {
  border-bottom: 1px solid #99999934;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 14px !important;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  :root {
    --section-padding: 30px;
  }
}

@media only screen and (max-width: 1021px) {
  .custom-table td {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-inline: 0px;
  }

  .custom-table button {
    justify-content: flex-end;
  }

  .custom-table tbody tr {
    border: none;
  }
}

.custom-table {
  overflow-x: auto;
}

.custom-table tr th:nth-child(1) {
  width: 100px;
}

.custom-table tr th:nth-child(2) {
  min-width: 200px;
}

.custom-table tr th:nth-child(3) {
  min-width: 150px;
}

.custom-table tr th:nth-child(4) {
  min-width: 100px;
}

.custom-table tr th:last-child {
  min-width: 50px;
  text-align: end;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader svg {
  animation: spin 1s linear infinite;
  color: white;
}

.modal {
  display: none;
  z-index: 100;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.proudctDetailSection .img_wrap img {
  object-position: 0 0;
}

.cartSection .heading {
  margin-bottom: 0px !important;
}
